.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #888888;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(100, 189, 99);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}


#demo-dt-basic{
	margin-top: 20px;
}

select + .select2-container{
    width: 100% !important;
}

.brand-icon{
	padding: 13px;
}

.seller_form_border{
	border: 1px dashed rgba(255,255,255,0.2);
}

#form{
	min-height: 300px;
}

.tab-stacked-left .nav-tabs{
	width: 20%;
}

.note-editable{
    margin-top: 30px !important;
}
